body, html {
    justify-content: center;
    display: grid;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    margin: 50px auto;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.menu>li {
    background: #000;
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.menu li:hover {
    background-color: black;
    border: 2px solid greenyellow;
}

.menu>li>a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

.menu>li:hover .menu>li:hover {
    opacity: 1;
    visibility: visible;
}

.menu>li:hover li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}

.menu>li:hover li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

input[type="text"],
input[type="password"],
input[type="hidden"],
input[type="number"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.custom-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-left: 30%;
    font-size: 20px;
}

input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: 1s;
    color: #fff;
  }
  
  input[type="file"]::-ms-browse:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    color: #000;
  }
  
.entrar{
    width: 220px;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    margin-left: 30%;
}


  .entrar:hover {
    background-color: black;
    border: 2px solid greenyellow;

  }